\.DS_Store
*.pyc
__pycache__
pace_python/mccExcludedFiles.log
pace_neutrons/mccExcludedFiles.log
*~
*swp
*swo
*-v[0-9]*
*-v[0-9].*
*.mex*
*.so
*.mod

BRILLEM-build
BRILLEM-download
BRILLEM-src
EUPHONIC_MATLAB-build
EUPHONIC_MATLAB-download
EUPHONIC_MATLAB-src
HORACE_LNX-build
HORACE_LNX-download
HORACE_LNX-src
HORACE_WIN-build
HORACE_WIN-download
HORACE_WIN-src
SPINW-build
SPINW-download
SPINW-src

build
dist
wheelhouse
